@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Charm&display=swap');

:root{
    --body-background: black;
    --display-background: black;
    --input-button-color: #444444;
    --input-button-hover-color: #4d4d4d;
    --number-button-color: #333333;
    --button-font: 'Poppins', sans-serif;
}
@font-face {
    font-family: displayFont;
    src: url(fonts/tahoma.ttf);
}


*{
    box-sizing: border-box;
}
body{
    background: var(--body-background);
    margin: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 5px dashed rgba(255, 255, 255, 0.2)
}
.calculator{
    min-width: 15rem;
    max-width: 35rem;
}
.input-area{
    background: var(--display-background);
    padding: 0.5rem 0.5rem 1rem;
}

#topDisplay{
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: right;
    font-size: 1.7rem;
    font-family: displayFont, 'Tahoma', sans-serif;
    border: 0;
    outline: 0;
}
#display{
    background: transparent;
    color: whitesmoke;
    width: 100%;
    text-align: right;
    font-size: 3rem;
    font-family: displayFont, 'Tahoma', sans-serif;
    border: 0;
    outline: 0;
}

.button-area{
    width: 100%;
    height: 65vh;
    min-height: 15rem;
    background: black;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5vh;
}
.input-button{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--button-font);
    background: var(--input-button-color);
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    user-select: none;
}
.input-button:hover{
    background: var(--input-button-hover-color);
}
.input-button.clicked{
    animation: clickAnimation 200ms ease-out;
}
@keyframes clickAnimation {
    35%{transform: scale(0.8);}
    70%{transform: scale(1.1);}
}
.numberButton{
    background: var(--number-button-color);
}
.operationBut{
    background: rgb(255, 102, 0);
}
.operationBut:hover{
    background: rgb(255, 81, 0);
}
#squareBut, #sqrtBut, #oneDivided{
    font-family: 'Charm', serif;
    font-weight: bold;
}
sup{
    font-size: 17px;
    position: relative;
    top: -5px;
}
sub{
    position: relative;
    top: 5px;
}


.signature{
    position: relative;
    top: 20%;
    color: whitesmoke;
    background: linear-gradient(to right, rgb(0, 255, 128), rgb(0, 183, 255));
    background-position-x: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    animation: signatureAni 5s infinite;
}
@keyframes signatureAni {
    50%{
        background-position-x: 500px;
    }
}