@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --body-background: linear-gradient(to right bottom, #00AAFF, #00FF6C);
    --display-background: #00342f;
    --button-color: #bffae3;
    --button-hover: #b9f5de;
    --font-style: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    background: var(--body-background);
    margin: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.calculator{
    min-width: 15rem;
    max-width: 35rem;
}
.input-area{
    background: var(--display-background);
    padding: 0.5rem 0.5rem 1rem;
    border-top-right-radius: 10px;
}
#topDisplay{
    background: transparent;
    color: #bffae3;
    width: 100%;
    text-align: right;
    font-size: 1.7rem;
    border: 0;
    outline: 0;
}
#display{
    background: transparent;
    color: whitesmoke;
    width: 100%;
    text-align: right;
    font-size: 3rem;
    border: 0;
    outline: 0;
}

.button-area{
    width: 100%;
    height: 65vh;
    min-height: 15rem;
    background: white;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom-left-radius: 10px;
}
.input-button{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-style);
    background: var(--button-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    user-select: none;
}
.input-button:hover{
    background: var(--button-hover);
}


.signature{
    color: whitesmoke;
    background: linear-gradient(to right, red, blue);
    background-position-x: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px gray;
    animation: signatureAni 5s infinite;
}
@keyframes signatureAni {
    50%{
        background-position-x: 500px;
    }
}